<%= render 'layouts/head' %>

<section class="cb-section cb-section--padded bg--blue-80 tc--white">
  <div class="cb-container cb-container--narrow tc">
    <h2 class="f3 f1-ns mt2"><%= cms_fragment_content 'first_steps_title' %></h2>
    <p class="pa3"><%= cms_fragment_render 'first_steps_content' %></p>
  </div>
</section>

<section class="cb-section">
  <div class="bg--gray-4">
    <div id="steps" class="cb-container">
      <div class="article-grid mt5 mb5">
        <% @cms_page.translated_children.each do |childpage| %>
          <%= link_to childpage.label, cms_page_path(childpage), class: 'pa3 bg--white shadow-hover ttc' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>
